---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="text-center p-8">
    <h1 class="text-4xl font-bold mb-6 text-primary" data-i18n="index.title"></h1>
    <p class="mb-6" data-i18n="index.description"></p>
    <a href="/generator" class="btn btn-primary" data-i18n="index.button"></a>
  </main>
</Layout>
